body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/img/flames.jpg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: center;
  background-color: black;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

input {
  height: 35px;
  width: 73px;
  font-size: large;
  text-align: center;
}

#submit {
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    rgb(253, 233, 11) 0%,
    rgb(255, 192, 20) 35%,
    rgb(255, 46, 9) 100%
  );
  color: white;
  border: none;
  border-radius: 12px;
}

#restart {
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    rgb(253, 233, 11) 0%,
    rgb(255, 192, 20) 35%,
    rgb(255, 46, 9) 100%
  );
  color: white;
  border: none;
  border-radius: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(32, 122, 179);
}
